* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.botao {
  font: inherit;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
  padding: 0.5em 1em;
  text-decoration: solid;
  background: rgb(120, 218, 149);
  color: rgb(69, 142, 190);
  border: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0, 0.5);
  border-radius: 0.5em;
  box-shadow: 3px 3px 3px rgb(101, 211, 165);
  transition: box-shadow 0.3s ease, trasform 0.3s ease;
}
.botao:hover {
  box-shadow: 3px 3px 20px rgb(95, 212, 163),
    inset 3px 3px 3px rgb(95, 212, 163);
  transform: translate(3px, 3px, 3px);
  color: rgb(7, 60, 30);
}

body {
  background-image: url(https://wallpapers.com/images/featured-full/pepe-the-frog-fc0xi68rw21ini90.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 19px;
  position: fixed;
  width: 100%;
  background-color: #93edb249;
}

button {
  padding: 40px 60px;
  border-radius: 20px;
  border: 1px solid #50e16f;
  background-color: transparent;
  color: hsl(155, 72%, 67%);

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 41px;
  line-height: 125%;
}

#form-habits {
  display: flex;

  padding: 345px 47px 47px;
  width: fit-content;
}

.habits {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.habit {
  width: 60px;
  height: 64px;

  font-size: 30px;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;

  color: #ffffff;

  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 60px;
  height: 60px;

  border: 2px solid #3c866a;
  border-radius: 8px;

  background: #96d3bd62;
}

input:checked {
  background: #7ad87dc4;
  border: 2px solid #ffffff;
}
@media (max-width: 575px) {
  button div {
    display: nome;
  }
}
